#no-report{
    text-align: center;
    padding-top: 170px;
}
#withreport{
    display: none;
    text-align: center;
    color: rgba(0, 0, 0, 0.842);
    font-weight: bold;
    padding-top: 20px;
    cursor: pointer;
}

#zoomin{
    position: fixed;
    display: none;
    width: 95%;
    top: 10px;
    left: 10px;
    bottom: 10px;
    z-index: 10;
   i{
       padding: 5px;
       border-radius: 5px;
       &:hover{
        background-color: rgba(206, 205, 205, 0.651);
    }
   }
    img{
        height: 95%;
    }
}