
<div class='container-fluid ' style="padding-left: 1px;" >
  <div class="row " >
    <!-- side bar nav with logo -->
    <div class="col-md-2  pt-3">
      <div class="text-center">
        <i class='fas fa-bars mr-3'></i>
        <img src="../assets/logo.PNG"/>
      </div>
      <ul class="nav flex-column side-nav">
        <li class="nav-item ">
          <a class="nav-link" href="#">    
            <i class='fas fa-user-cog mr-3'></i>Link
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class='fas fa-users mr-3'></i>Link

          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">    
            <i class='fas fa-edit mr-3'></i>Link
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class='fas fa-database mr-3'></i>Link

          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">    
            <i class='fas fa-shield-virus mr-3'></i>Link
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class='fas fa-home mr-3'></i>Link

          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">    
            <i class='fas fa-truck mr-3'></i>Link
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class='fas fa-pen-nib mr-3'></i>Link

          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">    
            <i class='fas fa-landmark mr-3'></i>Link
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class='fas fa-receipt mr-3'></i>Link

          </a>
        </li>
      </ul>

    </div>
    <!-- report type nav -->
    <div class="col-md-10 border-left p-0 report-nav" >
      <div class="container p-4 border text-dark ">
        <h5>attendance report managment</h5>
      </div>
      <div class="container p-0 border-bottom">
        <ul class="nav p-0">
          <li class="nav-item">
            <a class="nav-link" href="add-dailyreport">
              <i class='fas fa-edit mr-2'></i>add daily report
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dailyreport">
              <i class='	fas fa-file-alt mr-2'></i>report list - daily
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="">
              <i class='fas fa-clipboard-list mr-2'></i>{{reportname}}
            </a>
          </li>
        </ul>
      </div>


    </div>


  </div>
</div>

<router-outlet></router-outlet>
